.about_bg_blue{
    background-color: #2F4C79 !important;
}
.about_bg_red{
    background-color: #C82337 !important;
}

.about_svg-container_1{
    color: #C82337;
}
.about_svg-container_2{
    color: #E06236;
}
.about_svg-container_3{
    color: #D7AB61;
}
.about_svg-container_4{
    color: #2F4C79;
}
