.dividing_line{
    --number-of-stripes: 4;
    --stripe-height: 12px;
    height: calc(var(--stripe-height) * var(--number-of-stripes));
    background-image: linear-gradient(rgb(200, 35, 55) 0%, rgb(200, 35, 55) 25%, rgb(224, 98, 54) 25%, rgb(224, 98, 54) 50%, rgb(215, 171, 97) 50%, rgb(215, 171, 97) 75%, rgb(47, 76, 121) 75%, rgb(47, 76, 121) 100%);
}