.hongkongpicture{
    max-width: 200rem;
    height: 720px;
}


.borderingo{
    border-width: 2.5px !important;
    border-color: rgb(47, 76, 121);
}
.bg-blue {
   
    background-color: rgb(47, 76, 121 )!important;
}