#companyname{
    color: rgba(32, 32, 32, 1);
    font-size: 26px;
    font-family: "Univers LT Std 93 Extra Black Extended", Open Sans, Noto Sans Japanese, Arial Black;
    font-weight: 800;
    line-height: 1.18;
    letter-spacing: 0;
    text-transform: uppercase;
}
#titlename{
    font-family: "Univers LT Std 93 Extra Black Extended", Open Sans, Noto Sans Japanese, Arial Black;
    font-weight: 800;
    line-height: 1.18;
    letter-spacing: 0;
    text-transform: uppercase;
}

#dropdownInformationButton {
    font-family: "Univers LT Std 93 Extra Black Extended", Open Sans, Noto Sans Japanese, Arial Black;
    font-weight: 800;
    line-height: 1.18;
    letter-spacing: 0;
    text-transform: uppercase;
}

.transitionnavbar {
    animation: headerSlideDown .3s linear forwards;
}

.hover\:hoverblue:hover{
    background-color: #2F4C79;
}

#herosectioname{
    font-family: "Univers LT Std 93 Extra Black Extended", Open Sans, Noto Sans Japanese, Arial Black;
}
#titlename{
    font-family: "Univers LT Std 93 Extra Black Extended", Open Sans, Noto Sans Japanese, Arial Black;
}

#startbutton{
    background-color: #2F4C79;
    font-family: "Univers LT Std 93 Extra Black Extended", Open Sans, Noto Sans Japanese, Arial Black;
    font-weight: 800;
    line-height: 1.18;
    letter-spacing: 0;
}

.paragraph{
    font-family: "Times New Roman", serif;
}

.titlename_1{
    font-family: "Univers LT Std 93 Extra Black Extended", Open Sans, Noto Sans Japanese, Arial Black;
}

.discountLetter {
    font-size: 18px!important;
    line-height: 16px!important;
}
.discountBox{
    background:#C82337;
    color:#ffffff;
    border-radius: 2px;
    line-height: 16px;
    margin-right: 6px;
    padding: 4px 6px;
    width: 100px;
}

.imgtext{
    color: #C82337;
}

.icon{
    width: 50px;
}